<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<meta http-equiv='cache-control' content='no-cache'>
<head>
    Activities
</head>

  <body>
    <p><h4><a href="/strava/home">Back to main page</a></h4>

        <div>
        <canvas id="myChart" width="400" height="180"></canvas>
        <button onclick = "updateChart()">Fetch</button>
        <button onclick = "eddington()">Eddington</button>

        </div>
    <p>Before chart instantiation</p>
    <p id="demo"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>

    <div class="container">
      <h1>

      </h1>
      <span id="value">--</span>
      <div class="button-container">
        <button class="btn decrease">-</button>
        <button class="btn reset">Reset</button>
        <button class="btn increase">+</button>
        <button class="btn distance">Distance</button>
        <button class="btn average_speed">Average speed</button>
        <button class="btn max_speed">Max speed</button>
        <button class="btn average_heartrate">Average heartrate</button>
        <button class="btn max_heartrate">Max heartrate</button>
        <button class="btn average_cadence">Average cadence</button>

      </div>
    </div>
    <p></p>

    <p></p>
    <script type="text/javascript" src="/static/fetch.js"></script>
  </body>

</html>