<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="/static/spotify.js"></script>
<!--This is a test shell for script management -->
<script type="text/javascript" src="/static/fetch_s.js"></script>
<head>
    This is a header for the SPOTIFY template
</head>
  <body>
    <p><h4><a href="/strava/home">Back to main page</a></h4>

        <div>
        <button onclick = "fetchData()">FetchData</button>
        <button onclick = "newAlbums()">newAlbums</button>
        <button onclick = "testMethod()">testMethod</button>
        </div>

    <p id="demo"></p>
    <p id="demo2"></p>
    <p id="demo3"></p>
    <p>After chart instantiation</p>
    <p>The body before the script</p>
    <p>The body after the script</p>
  </body>
</html>